.Search{
    
    background-color: white;
    color: rgb(0, 210, 210);
    border-radius: 14px;
    padding: 4px 40px;
    border: 2px solid aqua;
    font-size: larger;
    font-weight: bold;
     }

     p {
    background-color: rgb(27, 225, 225);
    color: white;
    width: 28px;
    height: 28px;
    text-align: center;
    border-radius: 50%;
    font-size: x-large;
    font-weight: bolder;  
}

.Create {
    background-color: blue;
    color: white;
    padding: 5px 30px ;
    box-shadow: 5px 5px 5px black;
}